
@media screen and (max-width:1298px){
    .offer_page_items{
        padding: 2rem 1rem;
    }
    .active_offer {
        padding: 1.5rem 1rem;
      }
    .offer_page_items h2{
        font-size: 25px;
        font-weight: 720;
    }

    .offer_page_items p{
        padding: 8px;
    }
    .offer_page_items ul{
    list-style: none;
    }
    .offer_page_items ul li{
        text-align: left;
        line-height: 2;
        font-size: 17px;
    }
    .offer_page_items ul li i{
        font-size: 18px;
        padding-right: 20px;
        color: #2bc5d4;
    }
    .offe_page_details{
        padding: 5px 0px;
    }
    .offer_page_items_button {
        margin: 17px 0;
      }

}
@media screen and (max-width:1199px){
    .course_page_bottom_tab2 {
        width: 98%;
      }
      .offer_page_items {
        flex-basis: 43%;
        margin-top: 10px;
      }
}
@media screen and (max-width:1000px){
    .offer_page_items h2 {
        font-size: 20px;
      }
      .offer_page_items p {
        padding: 5px;
        font-size: 12px;
      }
      .offer_page_items ul{
        padding-left: 0;
      }
      .offer_page_items ul li {
        font-size: 13px;
      }
}


@media screen and (max-width:993px) {
    /* course details page */
    .course_page_bottom_tab {
        width: 100%;
      }
}

@media screen and (max-width:837px){
    .offer_page_items {
        flex-basis: 46%;
        margin-top: 5px;
    }
    .offer_page {
        padding: 3rem;
        padding-top: 2rem;
    }

}
@media screen and (max-width:800px){

}
@media screen and (max-width:770px){
/* details page */
.course_page_bottom_tab2 {
    padding: 2rem;
    padding-left: 3rem;
    margin: 18px 10px;
  }
  .course_page_bottom_tab2 span {
    font-size: 18px;
  }
  .offer_page_items {
    flex-basis: 63%;
  }
}
@media screen and (max-width:700px){

}
@media screen and (max-width:650px){

}
@media screen and (max-width:590px){
.offer_page_items {
    flex-basis: 85%;
    margin-top: 10px;
    }
}
@media screen and (max-width:470px){
    .course_page {
        padding-top: 3rem;
        padding-bottom: 2rem;
      }
    .course_page_bottom_tab li a {
        font-size: 19px;
        margin-right: 6px;
        font-weight: 750;
      }
    .course_page_button {
        margin: 10px 0;
        padding: 8px 0;
      }
      .course_page_button span {
        margin-right: 10px;
      }
      .course_page_button span, .course_page_button a {
        padding: 10px;
        font-size: 16px;
      }
      .course_page_bottom_body {
        margin-top: 2rem;
      }
      .course_page_bottom_tab1 h2 {
        font-size: 31px;
      }
      .course_page_item h2 {
        font-size: 31px;
        font-weight: 800;
      }
      .course_page_bottom_tab2 span {
        font-size: 16px;
        line-height: 2;
      }
}
@media screen and (max-width:425px){
    .course_page_bottom_tab2 {
        width: 98%;
        padding: 1rem;
        padding-left: 1rem;
    }
}
@media screen and (max-width:370px){
    .course_page_bottom_tab {
        padding: 4px 0;
      }
      .course_page_bottom_tab li a {
        font-size: 15px;
        margin-right: 0px;
      }
      .course_page_item p, .course_page_bottom_tab1 p {
        padding: 10px 0;
        font-size: 16px;
        width: 100%;
      }
}


